熟悉分組計算
作業重點:

分組計算也可以加入apply自定義的函數
題目 : 運用下列分數資料分析

找出全年級各科成績最高分與最低分?
找出數學班平均最高的班級?
分析全校女生與男生國文平均差幾分?
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

In [7]:
import pandas as pd
score_df = pd.DataFrame([[1,50,80,70,'boy',1], 
              [2,60,45,50,'boy',2],
              [3,98,43,55,'boy',1],
              [4,70,69,89,'boy',2],
              [5,56,79,60,'girl',1],
              [6,60,68,55,'girl',2],
              [7,45,70,77,'girl',1],
              [8,55,77,76,'girl',2],
              [9,25,57,60,'girl',1],
              [10,88,40,43,'girl',3],
              [11,25,60,45,'boy',3],
              [12,80,60,23,'boy',3],
              [13,20,90,66,'girl',3],
              [14,50,50,50,'girl',3],
              [15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])

score_df = score_df.set_index('student_id')
score_df

            math_score  english_score  chinese_score   sex  class
student_id
1                   50             80             70   boy      1
2                   60             45             50   boy      2
3                   98             43             55   boy      1
4                   70             69             89   boy      2
5                   56             79             60  girl      1
6                   60             68             55  girl      2
7                   45             70             77  girl      1
8                   55             77             76  girl      2
9                   25             57             60  girl      1
10                  88             40             43  girl      3
11                  25             60             45   boy      3
12                  80             60             23   boy      3
13                  20             90             66  girl      3
14                  50             50             50  girl      3
15                  89             67             77  girl      3

In [2]:
#1.找出全年級各科成績最高分與最低分?

In [24]:
print(score_df.groupby(['class']).max())
print(score_df.groupby(['class']).min())

       math_score  english_score  chinese_score   sex
class
1              98             80             77  girl
2              70             77             89  girl
3              89             90             77  girl
       math_score  english_score  chinese_score  sex
class
1              25             43             55  boy
2              55             45             50  boy
3              20             40             23  boy

In [3]:
#2.找出數學班平均最高的班級?

In [25]:
print(score_df.groupby(['class']).mean())

       math_score  english_score  chinese_score
class
1       54.800000      65.800000      64.400000
2       61.250000      64.750000      67.500000
3       58.666667      61.166667      50.666667

In [4]:
#3.分析全校女生與男生國文平均差幾分?

In [26]:
print(score_df.groupby(['sex','class']).mean())

            math_score  english_score  chinese_score
sex  class
boy  1           74.00      61.500000      62.500000
     2           65.00      57.000000      69.500000
     3           52.50      60.000000      34.000000
girl 1           42.00      68.666667      65.666667
     2           57.50      72.500000      65.500000
     3           61.75      61.750000      59.000000